.Container{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title{
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.title span{

color: #26ffcb;
padding-left: 15px;
}

.reset{
    color:#26ffcb ;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    background-color: #17394b;
    padding: 20px 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background-color: #1f3540;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}
.board{
    
    display: flex;
    height: 580px;
    border: 2px solid black;
    margin-bottom: 2px;
}

.boxes img{
    margin: 50px 50px ;
}

.title img{
    padding: 20px 20px;
    height: 50px;
}